<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Learn Smarter, <br>Note Better.</div>
        </div>
        
        <!-- First Clickable Container -->
        <div class="overlap-group" id="blindContainer">
          <div class="overlap-2">
            <div class="text-wrapper-2">BLIND</div>
            <img class="line" src="/static/img/line-1.svg" />
          </div>
          <img class="blind" src="/static/img/blind (1).png" />
        </div>

        <!-- Second Clickable Container -->
        <div class="overlap-3" id="deafContainer">
          <div class="overlap-4">
            <div class="text-wrapper-3">DEAF</div>
            <img class="img" src="/static/img/line-3.svg" />
          </div>
          <img class="deafness" src="/static/img/deafness.png" />
        </div>

        <!-- Third Clickable Container -->
        <div class="overlap-5" id="physicallyDisabledContainer">
          <div class="overlap-6">
            <div class="PHYSICALLY-DISABLED">PHYSICALLY<br>DISABLED</div>
            <img class="line-2" src="/static/img/line-2.svg" />
          </div>
          <img class="disability" src="/static/img/disability.png" />
        </div>
      </div>
    </div>

    <script>
      // Adding event listeners for the containers
      document.getElementById("blindContainer").addEventListener("click", function() {
        window.location.href = "secondPage.html";
      });

      document.getElementById("deafContainer").addEventListener("click", function() {
        window.location.href = "secondPage.html";
      });

      document.getElementById("physicallyDisabledContainer").addEventListener("click", function() {
        window.location.href = "secondPage.html";
      });
    </script>
  </body>
</html>
